# Folders to ignore
KinectforWindowsSDKV1/Dependencies/KinectWpfViewers/bin/
KinectforWindowsSDKV1/Dependencies/KinectWpfViewers/obj/
KinectColorApp/bin/
KinectColorApp/obj/

# Files to ignore
.suo
.DS_Store
*.exe
*.manifest
*.application
